@model Orcamento
<!DOCTYPE html>
<html>
<head>
    <title>OrceiPDF - N. @Model.Numero.ToString().PadLeft(8, '0') </title>
    <style>
        body {
            margin-top:20px;
            font-family: Consolas;
        }
    </style>
</head>
<body>
    <table style="border-collapse: collapse; width: 100%; height: 94px;" border="0">
        <tbody>
            <tr style="height: 82px;">
                <td style="width: 13.3222%; height: 120px;"><img src="https://orceipdf-web.azurewebsites.net/images/orcei-logo.png" width="200" /></td>
                <td style="width: 10%; height: 82px; " colspan="1"></td>
                <td style="width: 70.7436%; height: 82px;">
                    <table style="border-collapse: collapse; width: 97.3585%; height: 57px;margin-top:30px" border="0">
                        <tbody>
                            <tr style="height: 25px; font-size: 1.5rem; font-weight:600;">
                                <td style="width: 97.0264%; height: 25px;">@Model.Empresa.NomeFantasia.ToUpper()</td>
                            </tr>
                            <tr style="height: 25px;">
                                <td style="width: 97.0264%; height: 25px; font-size: 1rem;">Razão social: @Model.Empresa.RazaoSocial</td>
                            </tr>
                            <tr style="height: 25px;">
                                <td style="width: 97.0264%; height: 25px; font-size: 1rem;">Endereço: @Model.Empresa.Endereco</td>
                            </tr>
                            <tr>
                                <td style="width: 97.0264%;"> @Model.Empresa.Celular  @Model.Empresa.Telefone</td>
                            </tr>
                            <tr style="height: 25px;">
                                <td style="width: 97.0264%; height: 25px;">E-mail: @Model.Empresa.Email</td>
                            </tr>
                            <tr style="height: 25px;">
                                <td style="width: 97.0264%; height: 25px;">Cnpj: @Model.Empresa.Cnpj</td>
                            </tr>
                            <tr style="height: 25px;">
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr style="height: 12px;">
                <td colspan="3">
                    <hr />
                </td>
            </tr>
            <tr style="height: 12px;">
                <td style="width: 13.3222%; height: 12px; text-align: center; font-size: 1.6rem; padding-top: 5px; padding-bottom: 5px; background-color: #9c9b9b; border-radius: .25rem">&nbsp;N.&ordm; @Model.Numero.ToString().PadLeft(8, '0')</td>
                <td style="width: 10%; height: 12px;">&nbsp;</td>
                <td style="width: 82.7436%; height: 12px; text-align: right; padding-right:10px;text-transform:uppercase;"><strong>Data emissão:</strong> @Model.ModifiedDate.ToString("dd MMMM yyyy")</td>
            </tr>
            <tr style="height: 12px;">
            </tr>
        </tbody>
    </table>
    <hr />
    <table style="border-collapse: collapse; width: 100%; height: 76px; margin:20px" border="0">
        <tbody>
            <tr style="height: 25px;">
                <td style="width: 48.0329%; height: 35px; font-size: 1.4rem; font-weight: 600;">Dados do cliente</td>
                <td style="width: 48.0329%; height: 26px;">&nbsp;</td>
            </tr>
            <tr style="height: 25px;">
                <td style="width: 48.0329%; height: 25px; font-size: 1.2rem;">Razão social: @Model.Cliente.RazaoSocial</td>
                <td style="width: 48.0329%; height: 25px;">&nbsp;</td>
            </tr>
            <tr style="height: 25px;">
                <td style="width: 48.0329%; height: 25px; font-size: 1.2rem;">Nome: @Model.Cliente.NomeFantasia</td>
                <td style="width: 48.0329%; height: 25px;">&nbsp;</td>
            </tr>
            <tr style="height: 25px;">
                <td style="width: 48.0329%; height: 25px;">CNPJ: @Model.Cliente.Cnpj</td>
                <td style="width: 48.0329%; height: 25px;">Celular: @Model.Cliente.Celular</td>
            </tr>
            <tr style="height: 25px;">
                <td style="width: 48.0329%; height: 25px;">Email: @Model.Cliente.Email</td>
                <td style="width: 48.0329%; height: 25px;">Endereço: @Model.Cliente.Endereco</td>
            </tr>
        </tbody>
    </table>
    <hr />
    <br />
    <br />
    @{var count = 1; decimal total = 0; }
    <table style="border-collapse: collapse; width: 96%; height: 56px;margin:10px;" border="0">
        <tbody>
            <tr style="height: 18px;border-bottom: 1px solid black; ">
                <th style="width: 5%; height:  25px;">Item</th>
                <th style="width: 35%; height: 25px;">Descricao</th>
                <th style="width: 10%; height: 25px;">Quantidade</th>
                <th style="width: 20%; height: 25px;">Valor Unit&aacute;rio</th>
                <th style="width: 20%; height: 25px;">Valor Total</th>
            </tr>
            @foreach (var i in Model.OrcamentoItens)
            {
            <tr style="height: 25px;">
                <td style="width: 5%; height:  25px;text-align:center;">@count</td>
                <td style="width: 35%; height: 25px; text-align: center;">@i.Descricao</td>
                <td style="width: 10%; height: 25px;text-align:center;">@i.Quantidade @i.Produto.UnidadeMedida</td>
                <td style="width: 20%; height: 25px;text-align:center;">@i.ValorUnitario.ToString("C2")</td>
                <td style="width: 20%; height: 25px;text-align:center;">@((i.ValorUnitario * (decimal)i.Quantidade).ToString("C2"))</td>
            </tr>
                total += i.ValorUnitario * (decimal)i.Quantidade;
                count++;
            }
            <tr style="height: 30px; border-top: 1px solid black;">
                <td colspan="5" style="height: 30px;text-align:right;font-size:1.2rem;padding-right:20px;">
                    <br />
                <strong>Total geral:</strong> @total.ToString("C2") 
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <br />
    <table style="border-collapse: collapse; width: 97%; height: 76px; margin:10px" border="0">
        <tbody>
            <tr style="height: 25px; border-bottom: 1px solid black;">
                <th style="height: 35px; font-size: 1.2rem; font-weight: 600; text-align:left;">Observação</th>
            </tr>
            <tr style="height: 25px;">
                <td></td>
            </tr>
            <tr style="height: 25px;">
                <td style="height: 35px;">@Model.Observacao</td>
            </tr>
            <tr style="height: 25px; border-bottom: 1px solid black;">
                <td></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
